.modal-congratulation {
    padding-top: 40px;

    .ant-modal-title {
        font-size: 30px;
    }

    .modal-congratulation__content {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 40px;

        .avatar-block {
            width: 400px;
            height: auto;

            .avatar {
                width: 400px;
                height: auto;
                border-radius: 2;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .information-block {
            width: calc(100% - 400px);
            height: 100%;
            font-size: 18px;
            color: #000;
            font-weight: 500;

            // .wish-for-es {
            //     font-size: 24px;
            //     font-weight: 600;
            //     color: #000;
            //     margin-bottom: 10px;
            //     white-space: pre-wrap;
            // }

            .info-field {
                margin-top: 12px;
                padding-top: 4px;
            }

            .info-user {
                margin-top: 12px;
                font-size: 18px;
            }

            .lucky-prize {
                font-size: 20px;
                width: 100%;
                text-align: center;
                color: red;
                font-size: 23px;
                font-weight: 600;
            }
        }
    }

    &.modal-congratulation-view {
        .ant-btn-primary {
            display: none;
        }
    }
}